* {
    margin: 0;
    padding: 0;
}

:root {
    --grey: hsl(217, 12%, 63%);
    --blue: hsl(213, 19%, 18%);
    --vdblue: hsl(216, 12%, 8%);
    --orange: hsl(25, 97%, 53%);
}

body {
    color: white;
    background-color: black;
    font-family: "Overpass", sans-serif;
}

/*Rating card styling*/

#rating-card {
    background-color: var(--vdblue);
    width: 90%;
    max-width: 500px;
    
    margin: 150px auto;
    padding: 30px 0px;
    
    border-radius: 30px;
}

#star-bg {
    background-color: var(--blue);
    display: flex;
    margin: 0px 30px;
    align-items: center;
    justify-content: center;
    
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

h1 {
    margin: 30px;
    margin-bottom: 15px;
    font-size: 35px;
}

p {
    margin: 30px;
    margin-top: 0px;
    
    color: var(--grey);
    font-size: 17px;
}

#rating-row {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 5%;
}

.rating-numbers {
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    
    color: var(--grey);
    border-radius: 50%;
    font-size: 17px;
}
.rating-numbers:hover{
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}
button{ 
    width: 80%; height: 42px;
    max-width: 350px;
    display: block;
    margin: 10px auto;
    
    background-color: var(--orange);
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 5px black;
    
    color: var(--vdblue);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
}

/*Thankyou card styling*/

#thankyou-card {
    background-color: var(--vdblue);
    width: 90%;
    max-width: 500px;
    margin: 150px auto;
    padding-top: 40px;
    padding-bottom: 20px;
    
    border-radius: 30px;
    text-align: center;
}

#thankyou-image{
    display: block;
    margin: 0px auto;
}

#what-selected{
    height: 40px; width: 80%;
    max-width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    
    background-color: var(--blue);
    color: var(--orange);
    border-radius: 20px;
}

#selected-number{
    margin: 0px 4px;
}

h2{
    margin: 30px;
    margin-bottom: 10px;
    font-size: 30px;
}

/*JS Part*/

#thankyou-card {
    display: none;
}